.main {
	height: 100%;
	display: grid;
	grid-template-columns: 280px auto;

  border-radius: 20px;
  background: var(--white);

  animation: slideFromBottom .5s linear;
}

@keyframes slideFromBottom {
	0% {
		transform: translateY(50%);
		opacity: 0;
	}


	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
