.sidebar {
  border-radius: 20px 0 0 20px;
  padding: 20px;

  background: rgb(242, 238, 238);
}

/* ============================ */
/* Sidebar Nav */
/* ============================ */

.sidebar-nav {
  margin-top: 10px;
}

.list-sidebar {
  font-weight: 400;

  list-style-type: none;
}

.item-list-sidebar {
  display: flex;
  align-items: center;
  gap: 5px;

  padding: 5px;
  padding-left: 10px;
  border-radius: 7px;
  transition: 0.2s;

  cursor: pointer;
}

.active-page {
  background: rgb(229 223 223);
  /* background: var(--light-grey); */
}

.link-page {
  display: block;
  border-radius: 7px;
  text-decoration: none;
  color: var(--grey);
}

.link-page:hover {
  background: rgb(229 223 223);
  /* background: var(--light-grey); */
}


