.signUp-form {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 30px 20px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  text-align: center;
  background-color: #2c2a3b;
  border-radius: 5px;

  font-size: 1.2rem;
  backface-visibility: hidden;
  transition: 0.5s linear;
}

.signUp-form_rotated {
  transform: rotateY(180deg);
}
