.authBtn {
    border-radius: 10px;
    background-color: #fff;
    border: none;
    padding: 10px 15px;

    display: flex;
    align-items: center;
    line-height: 1;
    gap: 3px;
    justify-content: center;
    box-shadow: 3px 4px 5px grey;

    transition: .2s linear;

    font-family: inherit;
    font-weight: 500;
    font-size: 1rem;
}

.authBtn:hover {
    cursor: pointer;

    transform: translateY(-3px);
}

.authBtn:active {
    box-shadow: 1px 2px 5px grey;

    transform: translateY(0);
}